<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://com.samsung.example/SystemInfo" version="1.0.0" viewmodes="maximized">
    <tizen:application id="9vPrWOtIvs.SystemInfo" package="9vPrWOtIvs" required_version="1.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>SystemInfo</name>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
</widget>
